.Dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.DialogsItems {
    padding: 10px;
}   
.DialogItem{
    color: red;
}
.activeD {
    color: silver; 
}
.Messages{
    padding:10px;
}
