.post {
    color: white;
    font-size: 20px;
     
  }

.post img {
  border-radius: 20px;
    width: 40px;
    margin-right: 10px;
    margin-top:5px ;
    margin-left: 10px;
  }

  .button {
    border-radius: 20px;
  }

.like_img {
  
  margin-bottom:5px ;
  margin-top:10px ;
  margin-left: 20px ;
  border-radius: 20px;
  
  
  }
